# H1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized in the passive voice.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. SciKit-learn
3. Apache Spark
4. Matplotlib

| Data Science Tools |
| ---- |
| Jupyter Lab |
| VS Code |
| R Studio |

### H3 Below are a few examples of evaluating arithmetic expressions in Python.

__Objectives__
* List popular languages for Data Science
* List commonly used libraries in Data Science
* Create a code cell to multiply and add numbers

This is a simple arithmetic expression to multiply then add integers.

In [9]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [13]:
200/60

3.3333333333333335

## H2 Author
Brittany